<div class="bg-white py-4 mb-4">
    <div class="row mx-4 my-4 product-item-2 align-items-start">
        <div class="col-md-6 mb-5 mb-md-0 {{ product.classes }}">
            <img src="{{ product.image }}" alt="Image" class="img-fluid">
        </div>
    
        <div class="col-md-5 ml-auto product-title-wrap">
            <span class="number">{{ product.title }}</span>
            <h3 class="text-black mb-4 font-weight-bold">About This Product</h3>
            <p class="mb-4">{{ product.description.0 }}</p>
            <p>{{ product.description.1 }}</p>
            
            <div class="mb-4"> 
                <h3 class="text-black font-weight-bold h5">Price:</h3>
                <div class="price">
                    <del class="mr-2">{{ product.price }}</del> {{ product.sale_price }}
                </div>
            </div>
            <p>
                <a href="{{ details_url }}" class="btn btn-black btn-outline-black rounded-0 d-block mb-2 mb-lg-0 d-lg-inline-block">View Details</a>
                <a href="{{ cart_url }}" class="btn btn-black rounded-0 d-block d-lg-inline-block">Add To Cart</a>
            </p>
        </div>
    </div>
</div>